@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4f46e5;
  --accent-color: #06b6d4;
  --success-color: #059669;
  --warning-color: #d97706;
  --error-color: #dc2626;
}
